
    <section id="newsletter">
        <div class="container">
            <h1>Project Controbuters</h>
            <!-- <form>
                <input type="email", placeholder="enter email">
                <button type="submit"  class="button_1" >Subscribe</button>
            </form> -->
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
            
                <p class="dark">
                    <span>COV19 Smart System</span> is a rapidly growing, open-edit radiology resource, compiled by radiologists and other health professionals from across the globe.
                    <span>COV19 Smart System's</span> mission is to create the best radiology reference the world has ever seen and to make it available for free, for ever, for all.
                    All we need to accomplish this is for you to share some of your expertise and a few of your precious moments. By pooling our collective knowledge and experience,
                     we can make a real difference in how people all over the world are imaged and diagnosed. 
                </p>
                <br/>
                <p class="dark">
                    <span>Community:</span>
                    As a member of Radiopaedia, you can create your own interesting case library as well as help improve articles on the site. You can use the thousands of cases to help teach your peers and promote radiology and medicine more broadly.

                    You can be an individual contributor or you can have your institution verified and join with your colleagues to combine your case libraries together. 
                    All we need to accomplish this is for you to share some of your expertise and a few of your precious moments. By pooling our collective knowledge and experience, we can make a real difference in how people all over the world are imaged and diagnosed. Every new article, every case, and every correction counts. Signing up is free and contributing your first edit will only take you a few minutes.
                    You can be an individual contributor or you can have your institution verified and join with your colleagues to combine your case libraries together. 
                    All we need to accomplish this is for you to share some of your expertise and a few of your precious moments. By pooling our collective knowledge and experience, we can make a real difference in how people all over the world are imaged and diagnosed. Every new article, every case, and every correction counts. Signing up is free and contributing your first edit will only take you a few minutes.
                    All we need to accomplish this is for you to share some of your expertise and a few of your precious moments. By pooling our collective knowledge and experience, we can make a real difference in how people all over the world are imaged and diagnosed. Every new article, every case, and every correction counts. Signing up is free and contributing your first edit will only take you a few minutes.  
                </p>
                
            </article>
        </div>
    </section>
